---
---

// =========================================================================
// 2018
// =========================================================================



@import 'vendor';



// --------------------------------------------------------------------------
// PLACE CUSTOM STYLE OVERRIDE VARIABLES HERE
// --------------------------------------------------------------------------

$primary-color:     #fecd08;
$secondary-color:   #02191f;
$tertiary-color:    #efefef;
$nav-link-color:	#ffffff;

$page-section-dark-bg:	$secondary-color;
$page-section-dark-color:	#b5b5b5;

$video-slide-link-color:	$tertiary-color;

// Navigation
// --------------------------------------------------------------------------

$nav-sticky-bg-color:     rgba(0,0,0,0.9);
$page-hero-background:    url('../2016/images/grafanacon_nyc_hero.jpg');


// --------------------------------------------------------------------------
// END OVVERIDES
// --------------------------------------------------------------------------



@import 'global';



// CONFERENCE SPECIFIC STYLES
// --------------------------------------------------------------------------

body {
  @include web-font('Gothic A1', sans-serif);
  line-height: 1.7;
}

.page-hero {
	min-height: rem-calc(450);
}

.page-section .page-section__title {
  border-color: $secondary-color;
}


.page-section--dark .page-section__title {
  border-color: $primary-color;
  color: $white;
}

.videos-list__link {
	color: $tertiary-color;
}

.page-hero__logo {
	background: url(../2016/images/logo.png);
    background-repeat: no-repeat;
    background-position: 0 140px;
    background-size: contain;
    height: 400px;
}