---
---

// =========================================================================
// 2018
// =========================================================================



@import 'vendor';



// --------------------------------------------------------------------------
// PLACE CUSTOM STYLE OVERRIDE VARIABLES HERE
// --------------------------------------------------------------------------

$primary-color:     #eb237c;
$secondary-color:   #160328;
$tertiary-color:    #4999ef;

// --------------------------------------------------------------------------
// END OVVERIDES
// --------------------------------------------------------------------------



@import 'global';



// CONFERENCE SPECIFIC STYLES
// --------------------------------------------------------------------------

body {
  @include web-font('Gothic A1', sans-serif);
}
