---
---

// =========================================================================
// 2018
// =========================================================================



@import 'vendor';



// --------------------------------------------------------------------------
// PLACE CUSTOM STYLE OVERRIDE VARIABLES HERE
// --------------------------------------------------------------------------

$primary-color:     #eb237c;
$secondary-color:   #160328;
$tertiary-color:    #4999ef;

// Navigation
// --------------------------------------------------------------------------

$nav-sticky-bg-color:     rgba(0,0,0,0.9);
$page-hero-background:    url('../2018/images/grafanacon_eu_hero.jpg');

// --------------------------------------------------------------------------
// END OVVERIDES
// --------------------------------------------------------------------------



@import 'global';



// CONFERENCE SPECIFIC STYLES
// --------------------------------------------------------------------------

body {
  @include web-font('Gothic A1', sans-serif);
  line-height: 1.7;
}

.page-hero {
	min-height: rem-calc(450);
}

.page-hero__logo {
	background: url(../2018/images/grafanacon_eu_nav-logo.svg);
    background-repeat: no-repeat;
    background-position: 0 140px;
    background-size: contain;
    height: 400px;
}