---
---

// =========================================================================
// 2019
// =========================================================================



@import 'vendor';



// --------------------------------------------------------------------------
// PLACE CUSTOM STYLE OVERRIDE VARIABLES HERE
// --------------------------------------------------------------------------

$primary-color:     #728fa5;
$secondary-color:   #000;
$tertiary-color:    #fc4e00;

hr {
    height: 1px !important;
    outline: none;
    background-color: $primary-color;
    border: none;
    margin-bottom: 40px;
}

// Navigation
// --------------------------------------------------------------------------

$nav-sticky-bg-color:     rgba(0,0,0,0.9);
$page-hero-background:    #222 url('../2019/images/grafanacon_la_hero2.jpg');

// --------------------------------------------------------------------------
// END OVVERIDES
// --------------------------------------------------------------------------



@import 'global';



// CONFERENCE SPECIFIC STYLES
// --------------------------------------------------------------------------

body {
  @include web-font('Gothic A1', sans-serif);
  line-height: 1.7;

  strong {
  	color: $primary-color;
  }
}

.page-hero {
	min-height: rem-calc(450);
}

.page-hero__logo {
	background: url(../2019/images/grafanacon_la_logo.png);
    background-repeat: no-repeat;
    background-position: 0 140px;
    background-size: contain;
    height: 400px;
}

#cfpSuccess {
	h3 {
		color: #fff;
		font-size: 1.5rem;
		border: 1px solid #00f0ff;
		margin: 1.0em 1.0em 1.0em 0;
	    padding: 0.25em 1em;
	}
}

.side-by-side {
	margin-left: 0;
	padding-left: 0;
}

.inline-img {
	margin-bottom: 24px;
}