---
---

// =========================================================================
// 2018
// =========================================================================



@import 'vendor';



// --------------------------------------------------------------------------
// PLACE CUSTOM STYLE OVERRIDE VARIABLES HERE
// --------------------------------------------------------------------------

$primary-color:     #00f0ff;
$secondary-color:   #000;
$tertiary-color:    #f944c4;

// Navigation
// --------------------------------------------------------------------------

$nav-sticky-bg-color:     rgba(0,0,0,0.9);
$page-hero-background:    #222 url('../2019/images/grafanacon_la_hero.jpg');

// --------------------------------------------------------------------------
// END OVVERIDES
// --------------------------------------------------------------------------

$font-name: Titillium Web;
$font-type: sans-serif;

@import 'global';



// CONFERENCE SPECIFIC STYLES
// --------------------------------------------------------------------------

body {
  @include web-font('Gothic A1', sans-serif);
  line-height: 1.7;

  strong {
  	color: $primary-color;
  }
}

.page-hero {
	min-height: rem-calc(450);
}