// ==========================================================================
// COLORS
// ==========================================================================



// --------------------------------------------------------------------------
// CONTRAST
// --------------------------------------------------------------------------

@function color-yiq($color) {
  $r: red($color);
  $g: green($color);
  $b: blue($color);

  $yiq: (($r * 299) + ($g * 587) + ($b * 114)) / 1000;

  @if ($yiq >= $yiq-contrasted-threshold) {
    @return $yiq-text-dark;
  } @else {
    @return $yiq-text-light;
  }
}



// --------------------------------------------------------------------------
// SHADE
//
// Slightly darken a color by mixing it with black
// --------------------------------------------------------------------------

@function shade($color, $percent) {
  @return mix($black, $color, $percent);
}



// --------------------------------------------------------------------------
// TINT
//
// Slightly lighten a color by mixing it with white
// --------------------------------------------------------------------------

@function tint($color, $percent) {
  @return mix($white, $color, $percent);
}
