<div class="page-section page-section__footer">
    <div class="row mb-small-5">
        <div class="small-6 columns">
            <h6 class="footer-list-header">Past Events</h6>
            <ul class="footer-list">
                {% for conference in site.data.conferences %}
                  <li class="footer-list__item">
                    <a class="footer-list__link" href="{{ site.baseurl}}/{{ conference.year }}">
                      {{ conference.name }} {{ conference.year }}
                    </a>
                  </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="row columns text-center">
        <span class="footer-copyright">Copyright {{ site.time | date: '%Y' }} © Grafana Labs</span>
    </div>
</div>
