<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="manifest" href="/{{ site.baseurl}}site.webmanifest">
<link rel="apple-touch-icon" href="/{{ site.baseurl}}icon.png">

<meta property="og:type" content="website">

<style type="text/css">
  {% capture include_to_scssify %}
    {% include critical.scss %}
  {% endcapture %}
  {{ include_to_scssify | scssify }}
</style>

<script>
    (function() {
        if (sessionStorage.fonts) {
            document.documentElement.classList.add('wf-active');
        }

        console.log(sessionStorage.fonts);
    })();
</script>

<script src='https://api.mapbox.com/mapbox-gl-js/v0.44.2/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v0.44.2/mapbox-gl.css' rel='stylesheet' />

