<div class="page-section page-section__nav">
    <div class="row">
        <div class="small-2 columns">
             {% if conference.logo %}
                <div class="page-nav__logo">
                    <img class="page-nav__img" src="{{ images }}{{ conference.logo }}" alt="{{ conference.info.title }}">
                </div>
            {% endif %}
        </div>
        <div class="small-10 columns">
            <ul class="nav-list">
                  <li class="nav-list__item">
                    <a class="nav-list__link" href="#">Home</a>
                  </li>
                  <li class="nav-list__item">
                    <a class="nav-list__link" href="#">Watch</a>
                  </li>
                  <li class="nav-list__item">
                    <a class="nav-list__link" href="#">Speakers</a>
                  </li>
                  <li class="nav-list__item">
                    <a class="nav-list__link" href="#">Schedule</a>
                  </li>
                  <li class="nav-list__item">
                    <a class="nav-list__link" href="#">Info</a>
                  </li>
                  <li class="nav-list__item">
                    <a class="nav-list__link" href="#">Tickets</a>
                  </li>
            </ul>
        </div>
    </div>
</div>
