<div class="page-section page-hero">
    {% include conference/conference-nav.html %}
    {% if conference.info %}
        <div class="page-hero__body">
            <div class="row columns">
                {% if conference.logo %}
                    <div class="page-hero__logo">
                        <img class="page-hero__img" src="{{ images }}{{ conference.logo }}" alt="{{ conference.info.title }}">
                    </div>
                {% endif %}
                {% if conference.info.ticket-url %}
                    <div class="page-hero__cta text-center">
                        {% if conference.info.tickets-on-sale %}
                            <a class="btn btn--primary" href="{{ conference.info.ticket-url }}">Buy Tickets</a>
                        {% else %}
                            <span class="btn btn--primary">Sold Out</span>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        </div>
    {% endif %}
</div>
