{% include conference/conference-data.html %}

<div id="header" class="header">
    <div class="row columns">
        <nav class="site-nav">
            {% if conference.nav-logo %}
                <a href="{{ site.baseurl }}/{{ conference.name }}" class="site-nav__home-link">
                    <img class="site-nav__logo" src="{{ images }}{{ conference.nav-logo }}" alt="{{ conference.info.title }}">
                </a>
            {% endif %}
            <button id="siteNavOpen" class="site-nav__open">Menu</button>
            <ul id="siteNav" class="site-nav__list">
                {% for item in conference.navigation %}
                    <li class="site-nav__list-item">
                        <a class="site-nav__link" href="{{ site.baseurl }}/{{ conference.name }}{{ item.url }}">{{ item.name }}</a>
                    </li>
                {% endfor %}
                {% if conference.info.ticket-url %}
                    <li class="site-nav__list-item">
                        <a class="btn btn--primary btn--small" href="{{ conference.info.ticket-url }}">Tickets</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>
</div>
