{% if conference.location %}
<div class="page-section page-section--dark">
    <div class="row">
        <div class="small-11 small-centered medium-9 columns">
            <h2 class="page-section__title">{{ conference.location.name }}</h2>
            <div class="page-section__body">
                {{ conference.location.description | markdownify }}
            </div>
        </div>
    </div>
</div>
{% endif %}
{% if conference.location.coordinates %}
<div class="page-map" id='locationMap'></div>
<script>
    mapboxgl.accessToken = 'pk.eyJ1Ijoibmlja2NocmlzdHVzIiwiYSI6ImNqaGp5NjM0ZjJxeWwzNnAzeTJjYTE4NmYifQ.ozbTtXOeJSC27_B8VBn5qg';
    var map = new mapboxgl.Map({
        container: 'locationMap',
        style: 'mapbox://styles/mapbox/dark-v9',
        zoom: 11,
        center: [{{ conference.location.coordinates }}]
    });
    var marker = new mapboxgl.Marker()
      .setLngLat([{{ conference.location.coordinates }}])
      .addTo(map);
    map.scrollZoom.disable();
</script>
{% endif %}
