<div class="page-section page-section--dark">
  <div class="row">
      <div class="small-10 small-centered medium-12 columns">
      	<h1>GrafanaCon LA 2019 - February 25-26, 2019</h1>
		    <h3><strong>Miss the CFP Window? We'll see what we can do.</strong></h3>
      	<h4>
      		Have a talk you're dying to give but missed the official CFP window? We get it - we all get busy. Just send your talk our way by filling in the form below. If we think we can fit it in, we'll reach out.
      	</h4>
      </div>
  </div>
  <div class="row">
    <div class="small-10 small-centered medium-8 medium-uncentered columns">
      <section class="cfp">
        <div id="cfpForm" class="signup text-left" data-endpoint="{{ conference.cfp.endpoint }}">
          <p>All fields with an (<span class="required">*</span>) asterisk are required. We don't require your <strong>Twitter</strong> or <strong>GitHub</strong> handles, but we'd love to include them on your badge.</p>

          <form role="form">
            <div class="form-group">
              <label for="full_name"><span class="required">&#42;</span> Name:</label>
              <input type="text" class="form-control form-input" name="full_name" placeholder="Jane Doe"></input>
            </div>
            <div class="form-group">
              <label for="email"><span class="required">&#42;</span> Email:</label>
              <input type="email" class="form-control form-input" name="email" placeholder="jane@doe.com"></input>
            </div>
            <div class="form-group">
              <label for="twitter">Twitter (&#64;handle):</label>
              <input type="text" class="form-control form-input" name="twitter" placeholder="@twitter"></input>
            </div>
            <div class="form-group">
              <label for="github">GitHub (username):</label>
              <input type="text" class="form-control form-input" name="github" placeholder="hubber123"></input>
            </div>
            <div class="form-group">
              <label for="type"><span class="required">&#42;</span> Type:</label>
              <select class="form-control form-input" name="type">
                <option value="workshop">Workshop (30 minutes)</option>
                <option value="session">Session (20 minutes)</option>
                <option value="lightning">Lightning Talk (10 minutes)</option>
              </select>
            </div>
            <div class="form-group">
              <label for="title"><span class="required">&#42;</span> Title:</label>
              <input type="text" class="form-control form-input" name="title" placeholder="Our Exciting Monitoring Story"></input>
            </div>
            <div class="form-group">
              <label for="body"><span class="required">&#42;</span> Abstract:</label>
              <textarea class="form-control form-input" name="body" rows="10" placeholder="A paragraph or two explaining your proposed talk. We'll be in touch if we have questions."></textarea>
            </div>
            <div id="cfpSubmit" class="btn btn--primary">Submit My Abstract</div>
          </form>
        </div>
        <div id="cfpSuccess" class="text-center" style="display: none;">
          <h3>Success! Thanks for your submission.</h3>
          <h4>We'll reach out if we think your talk is a good fit, and encourage you to submit multiple talks.</h4>
        </div>
      </section>
    </div>
  </div>
</div>
