{% if conference.info %}
<div class="page-section page-section--dark">
    <div class="row">
        <div class="small-10 small-centered medium-8 columns">
            {% if conference.info.about.content %}
                <h2 class="page-section__title">{{ conference.info.about.title }}</h2>
                <div class="page-section__body">
                    {{ conference.info.about.content | markdownify }}
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endif %}
