{% if conference.featured-speakers %}
    <div class="page-section page-section--bordered">
        <div class="row columns">
            <h2 class="page-section__title">Featured Speakers</h2>
            <ul class="speakers-list">
                {% for speaker in conference.featured-speakers.speakers %}
                <li class="speakers-list__item speaker">
                    <div class="headshot{% unless speaker.twitter or speaker.github %} padded{% endunless %}">
                        <img src="{{ images }}headshots/{{ speaker.headshot }}" alt="{{ speaker.name }}">
                    </div>
                    {% if speaker.twitter or speaker.github %}
                    <ul class="social-links">
                        {% if speaker.twitter %}
                            <li class="social-links__item">
                                <a class="social-links__link" href="{{ speaker.twitter }}">
                                    <img src="/{{ site.baseurl}}assets/img/twitter.svg">
                                </a>
                            </li>
                        {% endif %}
                        {% if speaker.gitlab %}
                            <li class="social-links__item">
                                <a class="social-links__link" href="{{ speaker.gitlab }}">
                                    <img src="/{{ site.baseurl}}assets/img/gitlab.svg">
                                </a>
                            </li>
                        {% endif %}
                        {% if speaker.github %}
                            <li class="social-links__item">
                                <a class="social-links__link" href="{{ speaker.github }}">
                                    <img src="/{{ site.baseurl}}assets/img/github.svg">
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                    {% endif %}
                    <div class="speaker-meta">
                        <div class="name text-center">{{ speaker.name }}</div>
                        <div class="role text-center">{{ speaker.role }}</div>
                    </div>
                    <div class="logo" style="background-image: url('{{ images }}logos/{{ speaker.logo }}');">
                        <div class="company text-center">{{ speaker.company }}</div>
                    </div>
                    {% if speaker.talk %}
                    <div class="talk">“{{ speaker.talk }}”</div>
                    {% endif %}
                    {% if speaker.description %}
                    <div class="bio">{{ speaker.description | markdownify }}</div>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
              <h4 class="page-section__subhead"><a class="btn btn--primary btn--small" href="/2019/speakers">Check out all of our speakers</a></h4>
        </div>
    </div>
{% endif %}
