{% if conference.info.livestream %}
<div class="page-section page-section--dark page-section-2">
    <div class="row">
        <div class="small-10 small-centered medium-8 columns">
            <div class="page-section__video mt-small-5">
                <h2 class="page-section__video-title">Livestream</h2>
                <div class="video-wrap">
                    <iframe class="video-wrap__video" width="560" height="315" src="https://www.youtube.com/embed/{{ conference.info.livestream-id }}?rel=0&showinfo=0&modestbranding=1" frameborder="0"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
