// =========================================================================
// SCHEDULE
// =========================================================================



.schedule-list {
  @extend %ui-list;
  font-size: $schedule-font-size;
  padding-bottom: rem-calc(5);
  border-bottom: 1px solid $gray-1;
}

.schedule-list + .schedule-list {
  margin-top: $base-spacing;
}

.schedule-list > dt,
.schedule-list > dd {
  margin: 0;
}

.schedule-list__time {
  font-weight: $schedule-time-font-weight;
  text-transform: $schedule-time-text-transform;
}

.schedule-speakers-list {
  @extend %ui-list;
}

.schedule-speakers-list + .schedule-speakers-list {
  margin-top: $small-spacing;
}

.schedule-day + .schedule-day {
  margin-top: rem-calc(150);
}

.schedule-day-title {
  margin: 0 0 1em;
  font-size: $schedule-day-title-font-size;
  font-weight: $schedule-day-title-font-weight;
}

.schedule-list__event > p {
  margin: 0;
}

.schedule-disclaimer {
  color: $gray-5;
  font-size: rem-calc(14);
  font-style: italic;
}
