// ==========================================================================
// SPEAKERS
// ==========================================================================



.speakers-list {
  @extend %ui-list;
  display: flex;
  flex-flow: column nowrap;

  @include breakpoint(medium up) {
    flex-flow: row wrap;
    align-items: top;
    justify-content: center;
  }
}

.speaker-featured {
   background: url(/2019/images/headshots/headshot_bg.gif) 6px 0% no-repeat;
  background-size: contain;
}

.speakers-list__item {
  @include breakpoint(medium up) {
    width: 30%;
    margin: 0 1.5%;
    margin-bottom: $base-spacing * 3;
  }

  @include breakpoint(large up) {
    width: 22%;
  }
}

.speakers-list__item + .speakers-list__item {
  @include breakpoint(small only) {
    margin-top: $base-spacing;
  }
}

.speaker > .headshot {
  margin-bottom: $base-spacing/3;
}

.speaker > .headshot.padded {
  margin-bottom: $base-spacing + rem-calc(15);
}

.speaker > .headshot > img {
  display: block;
  width: 100%;
  max-width: rem-calc(190);
  height: auto;
  max-height: rem-calc(190);
  margin: 0 auto;
  border-radius: 50%;
}

.speaker-meta {
  min-height: rem-calc(75);
}

.speaker .name {
  font-size: rem-calc(24);
}

.speaker .role {
  color: $speakers-role-color;
  font-size: $speakers-role-font-size;
  font-weight: $speakers-role-font-weight;
}

.speaker .company {
  margin-bottom: 1em;
  color: $speakers-company-color;
  font-size: $speakers-company-font-size;
  text-transform: $speakers-company-text-transform;
}

.speaker > .logo {
  max-width: rem-calc(300);
  min-height: $speakers-logo-min-height;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.speaker .social-links {
  @extend %ui-list;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin-bottom: $small-spacing;
}

.speaker .social-links__item {
    width: rem-calc(20);
}

.speaker .social-links__item + .social-links__item {
  margin-left: rem-calc(10);
}

.speaker .social-links__link > img {
  display: block;
}

.speaker .talk {
  font-weight: 600;
}
