---
layout: default
---

{% assign conference = site.data[page.identifier].conference %}
{% capture images %}{{ site.baseurl }}/{{ conference.name }}/images/{% endcapture %}
{% capture presentations %}{{ site.baseurl }}/{{ conference.info.year }}/presentations/{% endcapture %}

{% include conference/conference-head.html %}

<body>
    {% include svg.html %}

    {% include conference/conference-hero.html %}

    {{ content }}

    {% include footer.html %}

    {% include conference/conference-assets.html %}
</body>
