---
layout: default
---

{% assign conference = site.data[page.identifier].conference %}
{% capture images %}{{ site.baseurl }}/{{ conference.info.year }}/images/{% endcapture %}

{% include conference/conference-head.html %}

<body>
    {% include svg.html %}

    {% include conference/conference-info.html %}

    {% include conference/conference-speakers.html %}

    {% include conference/conference-schedule.html %}

    {% comment %}
    {% include conference/conference-events.html %}
    {% include conference/conference-about.html %}
    {% include conference/conference-sponsors.html %}
    {% include conference/conference-lodging.html %}
    {% endcomment %}

    {% include footer.html %}
    {% include conference/web-fonts.html %}
</body>
