// ==========================================================================
// NAVIGATION
// ==========================================================================

body.nav-is-open {
  overflow: hidden;
}

.header {
  position: fixed;
  z-index: 100 !important;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  padding: $base-spacing 0;
  will-change: position;
  transition: all .25s ease-in-out;
  background: linear-gradient(rgba($nav-sticky-bg-color, .9) 0, rgba($nav-sticky-bg-color, 0) 100%);

  @include breakpoint($nav-hamburger-bp-show) {
    padding-top: $base-spacing * 2;
  }
}

.header.fixed {
  transition: all .5s ease-in-out;
  background: $nav-sticky-bg-color;
}

.header,
.header.fixed {
  @include breakpoint($nav-hamburger-bp-show) {
    padding: 0;
    background: transparent;
  }
}

.header > .row {
  position: relative;
}

.site-nav__home-link {
  @include breakpoint($nav-hamburger-bp-show) {
    display: none;
  }
}

.site-nav__logo {
  display: block;
  max-width: $nav-logo-max-width; // was rem-calc(200) TRW
  margin: 0 auto;
}

.site-nav {
  display: flex;
  align-items: center;
}

.site-nav__list {
  @extend %ui-list;

  @include breakpoint($nav-hamburger-bp-show) {
    visibility: hidden;
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding-top: $base-spacing * 3;
    transform: translateY(-25%);
    transition: 200ms ease-in-out;
    opacity: 0;
    background: $secondary-color;
  }

  @include breakpoint($nav-hamburder-bp-hide) {
    display: flex;
    flex: 1;
    flex-flow: row wrap;
    justify-content: flex-end;
  }
}

.site-nav__list.open {
  @include breakpoint($nav-hamburger-bp-show) {
    visibility: visible;
    transform: translateY(0);
    opacity: 1;
    overflow-y: auto;
  }
}

.site-nav__open {
  display: block;
  position: absolute;
  z-index: 200;
  top: rem-calc(20);
  right: rem-calc(20);
  width: rem-calc(40);
  height: rem-calc(40);
  padding: rem-calc(5);
  outline: 0;
  background: $nav-list-hamburger-bg;
  cursor: pointer;

  @include breakpoint($nav-hamburder-bp-hide) {
    display: none;
  }
}

.site-nav__open > .bar {
  display: block;
  position: absolute;
  left: rem-calc(5);
  width: rem-calc(30);
  height: rem-calc(3);
  border-radius: rem-calc(2);
  transition: all 150ms ease-in-out;
  background: $nav-hamburger-color;
}

.site-nav__open > .bar1 {
  transform: translateY(-#{rem-calc(15)});
}

.site-nav__open > .bar2 {
  transform: translateY(-#{rem-calc(2)});
}

.site-nav__open > .bar3 {
  transform: translateY(rem-calc(11));
}

.site-nav__open.open > .bar1 {
  transform: rotate(45deg) translateX(-#{rem-calc(1)}) translateY(-#{rem-calc(1)});
}

.site-nav__open.open > .bar2 {
  opacity: 0;
}

.site-nav__open.open > .bar3 {
  transform: rotate(-45deg) translateX(rem-calc(1)) translateY(-#{rem-calc(1)});
}

.site-nav__list-item {
  display: block;
  text-align: center;

  @include breakpoint($nav-hamburger-bp-show) {
    margin-bottom: $base-spacing;
    text-transform: uppercase;

    &:last-child {
      margin-bottom: 0;
    }
  }

  @include breakpoint($nav-hamburder-bp-hide) {
    max-width: rem-calc(320);
    text-align: right;
  }
}

.site-nav__list-item + .site-nav__list-item {
  @include breakpoint($nav-hamburder-bp-hide) {
    margin-left: $small-spacing;
  }
}

.site-nav__link {
  color: $nav-link-color;
}
