// ==========================================================================
// PAGE
// ==========================================================================



// Head
// -------------------------------------------------------------------------

.page-head {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: $base-spacing * 2;
}
