// =========================================================================
// BASE
// =========================================================================


a {
  color: $base-link-color;
  text-decoration: none;
  
  &:hover {
  	color: $base-link-hover-color;
  }
}
